*{
    margin: 0;
    padding: 0;
}
.icon{
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 15%;
    height: 80px;
    float: left;
}
.logo{
    margin: 0;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 85%;
    height: 80px;
    float: right;
}
.container-margin-top{
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #f6f6f6;
    position: relative;
}
/* making the margin top for all size of display */
@media screen and (min-width: 100px) {
    .container-margin-top {
        margin-top: 50px;
    }
}
.content-area{
        margin-bottom: 70px;
}
footer{
    clear: both;
    width: inherit;;
    height: 60px;
    background-color: #e6e6e6;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding-top: 18px;
    color: #9b9b9b;
}
.nav-bar-hover:hover{
    font-weight: bolder;
}
.search-form{
    padding-top: 8px;
}
@media screen and (max-width: 769px) {
    .search-form {
        padding-bottom: 10px;

    }
}
/*search with transition*/
#search-field{
    width: 100px;
    float:right;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out ;
    transition: width 0.4s ease-in-out;
}

#search-field:focus {
    width: 100%;
}

/* category and brand label*/
.category-brand-label{
    font-size: 16px;
    font-weight: bold;
    color: grey;
    padding: 5px 0 5px 10px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* padding 0 */
.zero-padding{
    padding: 0;
}
.category-brand-ul{
    list-style-type: none;
    padding: 0 10px;
}
.category-brand-ul li{
    background-color: #eaeaea;
    /*text-align: center;*/
    width: 100%;
}
.category-brand-ul li:hover{
    background-color: #9b9b9b;
}
.category-brand-ul li a{
    display: block;
    color: #7b7b7b;
    text-decoration: none;
    font-weight: 700;
    margin: 3px 0;
    padding: 3px 0 3px 10px;
}
.category-brand-ul li a:hover{
    color: #e4e4e4;
}
/* register form */
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px, rgba(0, 0, 0, 0.3) -5px -5px 10px;
}

/* decorating or */
.hr_line_for_or{
    width: 100%;
   text-align: center;
   border-bottom: 2px solid #cecece;
   line-height: 0px;
   margin: 20px auto;;
}
.or{
    background:#fff;
    padding:0 10px;
    font-style: italic;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

/* login form */
.popup_login_form{
    top: 60px;
    right: 5px;
    position: absolute;
    z-index: 1;
    background-color: white;
    display: none;
}


/* -------------------------- admin landing page --------------------------- */
.container-top-margin{
    margin-top: 50px;
    height: auto;
}
    .container-top-margin > div > p > a {
        text-decoration: none;
        color: #545454;
        display: block;
        max-width: 220px;
    }
.admin-panel-div{
    color: grey;
}
